<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.mysite.jikpoom.beans.vo.BbsVO" alias="bbs" />
        <typeAlias type="com.mysite.jikpoom.beans.vo.ReplyVO" alias="ReplyVO" />
    </typeAliases>
</configuration>