<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        .line {
            border-bottom: 1px solid #ff8b77;
        }
    </style>
    <script src="/js/reply.js"></script>
    <script src="/js/content.js"></script>
    <link rel="stylesheet" href="/css/regist.css">
    <link rel="stylesheet" href="/css/progressbar.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/progressbar.js"></script>
    <script src="/js/checkSession.js"></script>
    <title>GAEPOOM</title>
</head>
<body>
<div id="wrap">
<header id="header" style="background-color:#a3c6c4">
    <div class="container">
        <div class="gap">
            <div class="left">
                <h1><a href="/bbs/index" title="home">GAEPOOM</a></h1>
            </div>
            <div class="right">
                <nav id="nav">
                    <ul>
                        <li><a href="list" class="main-btn">자유게시판</a></li>
                        <li><a href="front" class="main-btn">Front-end</a></li>
                        <li><a href="back" class="main-btn">Back-end</a></li>
                        <li><a href="spring" class="main-btn">Springboot</a></li>
                        <li><a href="e&b" class="main-btn">Error & Bugfix</a></li>
                        <li id="login_btn"><a href="/bbs/login">로그인<i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li id="logout_btn"><a href="/bbs/logout">로그아웃</a></li>
                        <li id="welcome_ph"><a href="mypage" th:text="${session.userName}"></a>님</li>
                        <li><i class="fa-solid fa-comment"></i></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
</div>
    <div class="scroll-bar-progress">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>
<form method="post" action="/bbs/remove" th:object="${bbs}" id="deleteForm">
    <h4>번호</h4><input name="bno" type="text" th:field="*{bno}" readonly />
    <h4>제목</h4><input name="title" type="text" th:field="*{title}" readonly />
    <h4>내용</h4>
    <div id="my_content" th:text="*{content}"></div>
    <h4>작성자</h4>
    <input name="writer" type="text" th:field="*{writer}" readonly />
    <br>
    <input type="button" value="수정" onclick="checkUpdate()" />
    <input type="button" value="삭제" onclick="checkDelete()" />
    <br><br>
    <div class="fa fa-camera-retro fa-lg"><strong>댓글</strong></div><br>
    <a href="javascript:void(0)" class="register">댓글 등록</a>

    <div class="register-form" style="display:none;">
        <h4>작성자</h4>
        <input type="text" name="replier" th:placeholder="${session.userName}" th:value="${session.userName}" readonly>
        <h4>댓글</h4>
        <textarea rows="6" name="reply" placeholder="Reply"></textarea>
        <br>
        <input type="button" class="btn btn-info finish" value="등록" />
        <input type="button" class="btn btn-danger cancel" value="취소" />
    </div>
    <ul class="replies">
    </ul>
</form>
</body>
<!-- Scripts -->
<script th:inline="javascript">

    function goUpdate(){
        let bno = /*[[${bbs.getBno()}]]*/
            location.href='/bbs/modify?bno=' + bno;
        }
    function checkDelete(){
        let UserName =fusername;
        let CheckName = $('input[name=writer]').val();
        if(UserName === CheckName){
            $('#deleteForm').submit();
        }else {
            alert("다른 사람의 게시물은 삭제할 수 없습니다.")
            return false;
        }
    }
    function checkUpdate(){
        let UserName =fusername;
        let CheckName = $('input[name=writer]').val();
        if(UserName === CheckName){
            goUpdate();
        }else {
            alert("다른 사람의 게시물은 수정할 수 없습니다.")
            return false;
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    window.onload=setInnerHTML();
    $(document).ready(function(){
        let bnoValue = [[${bbs.getBno()}]]
        let replyUL = $(".replies");
        let pageNum = 1;
        showList(pageNum);

        $(".register").on("click", function(e){
            $(".register-form").show();
            $(this).hide();
        });

        $(".cancel").on("click", function(e){
            $(".register-form").hide();
            $(".register").show();
        });

        $(".finish").on("click", function(){
            let replier = $("input[name='replier']").val();
            let reply = $("textarea[name='reply']").val();
            if(replier == "" || reply == ""){ return; }

            replyService.add({bno:bnoValue, reply:reply, replier:replier},
                function(result){
                    alert(result);
                    $("input[name='replier']").val("");
                    $("textarea[name='reply']").val("");
                    $(".register-form").hide();
                    $(".register").show();
                    pageNum = 1;
                    showList(pageNum);
                }
            );
        });

        function showList(page){
            replyService.getList({bno : bnoValue, page : page || 1},
                function(list){
                    let str = "";
                    if(list == null || list.length == 0){
                        replyUL.html("");
                        return;
                    }
                    for(let i=0, len=list.length; i<len; i++){
                        str += "<li style='display:block' data-rno='" +list[i].rno+  "'>";
                        str += "<strong>" + list[i].replier + "</strong>" + "(" + list[i].replyDate + ")";
                        str += "<p>" + list[i].reply + "</p>";
                        str += "<div class='line'></div></li>";
                    }
                    replyUL.html(str);
                });
        }
    })
</script>
<script>
    fusername = "[[${session.userName}]]";
    $(document).ready(init)
</script>
</html>