<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/bbs/logout">로그아웃</a>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fa-solid fa-person-walking-luggage"></i>
            <a href="/bbs/index" class="navText">JIKPOOM</a>
        </div>
        <ul class="navbar_menu">
            <li><a href="/bbs/list" class="navText">All Contents</a></li>
            <li><a href="/bbs/list/front" class="navText">Front-end</a></li>
            <li><a href="/bbs/list/back" class="navText">Back-end</a></li>
            <li><a href="/bbs/list/spring" class="navText">Springboot</a></li>
            <li><a href="/bbs/list/error" class="navText">Error_Report</a></li>
        </ul>
        <ul class="navbar_icons">
            <li><a href="/bbs/login">로그인<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="mypage"><i class="fa-solid fa-user"></i></a></li>
            <li><i class="fa-solid fa-comment"></i></li>
        </ul>
    </nav>
</body>
</html>