<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Register</title>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/js/smarteditor2-2.8.2.3/js/HuskyEZCreator.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/regist.css">
</head>
<body>
<form method="post" action="/bbs/register" id="registForm">
  <h4>카테고리</h4>
  <select name="category" id="category">
    <option value="">카테고리</option>
    <option value="etc">자유게시판</option>
    <option value="front">Front-End</option>
    <option value="back">Back-End</option>
    <option value="spring">Spring</option>
    <option value="enb">Error & Bugfix</option>
  </select>
  <h4>제목</h4>
  <input id="title" name="title" placeholder="제목" type="text" />
  <h4>작성자</h4>
  <input type="text" id="username" th:placeholder="${session.userName}" th:value="${session.userName}" readonly>
  <div id="content_box">
  <textarea name="content" id="content_area"></textarea>
  </div>
  <button type="submit" id="savebutton">등록하기</button>
  <script id = "smartEditor" type="text/javascript">
    var oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
      oAppRef: oEditors,
      elPlaceHolder : "content_area",
      sSkinURI: "../js/smarteditor2-2.8.2.3/SmartEditor2Skin.html",
      fCreator: "createSEditor2",
      htParams: {
        bUseToolbar : true,
        bUseVerticalResizer : false,
        bUseModeChanger : false
      }
    });
    $(function (){
      $("#savebutton").click(function (){
        oEditors.getById["content_area"].exec("UPDATE_CONTENTS_FIELD",[]);
        var category = $("#category").val();
        var title = $("#title").val();
        var content = document.getElementById("content_area").value;

        if (category == ""){
          alert("카테고리를 선택해주세요");
          return;
        }
        if (title == null || title == ""){
          alert("제목을 입력해주세요");
          $("#title").focus;
          return;
        }
        if (content == "" || content == null || content == '&nbsp;'|| content == '<br>'){
          alert("본문을 작성해주세요");
          oEditors.getById["content_area"].exec("FOCUS");
          return;
        }
        var result = confirm("등록 하시겠습니까?");
        if (result){
          $("#registForm").submit();
        }
      });
    });
  </script>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  window.onload=function (){
    var nologin = $('#username').val();
    console.log(nologin);
    if (nologin == null || nologin === ''){
      alert("로그인 후에 글 작성이 가능합니다!");
      location.href="/bbs/login";
    }
  };
</script>
</html>