.wrap-content{
    margin-top:76px;
}
.container-content{
    display: flex;
    gap: 20px 2%;
    flex-wrap: wrap;
    height: auto;
}
.container-content .each-content{
    background-color: #2f3640;
    width: 17%;
    padding: 15px;
    margin: 0.5%;
    text-align: center;
    border: 1px solid #b39e76;
    color: #ffffff;
}
.wrap-content .title_name{
    font-size: 20px;
    color: #b39e76;
    font-weight: 600;
}